.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreygray;
  z-index: 10000;
  opacity: 0.9;

  .spinner-border {
    width: 6rem;
    height: 6rem;
  }

}


