<app-loader-block *ngIf="loading"></app-loader-block>
<div class="container pl-sm-1 pr-sm-1">
  <div class="row justify-content-center">

    <div class="col-md-6 col-sm-12">
      <div class="card text-white bg-danger mb-3" *ngIf="actionError">
        <div class="card-body">
          <p class="card-text small">{{actionError}}</p>

        </div>
      </div>
      <div class="card text-white bg-danger mb-3" *ngIf="actionErrors.length">
        <div class="card-body">
          <p class="card-text small" *ngFor="let err of actionErrors">{{err}}</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" *ngIf="actionSuccess">
        <div class="card-body">
          <p class="card-text small">Data saved successfully</p>
        </div>
      </div>

      <form #addEditForm="ngForm" (ngSubmit)="onSubmit(addEditForm)">
        
        <fieldset [disabled]="loading">



          <div class="form-group">
            <label for="name">Name of period</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   placeholder="Lamp starts before fan in min"
                   required
                   aria-invalid="true"
                   [(ngModel)]="model.name"
                   #name="ngModel"
                   [ngClass]="{'is-invalid': addEditForm.submitted && name.invalid}"
            >
          </div>

          <div class="form-group">
            <label for="fromH">From, hour</label>
            <input type="number"
                   class="form-control"
                   id="fromH"
                   name="fromH"
                   placeholder="Start hour of period"
                   required
                   min="0"
                   max="23"
                   aria-invalid="true"
                   [(ngModel)]="model.fromH"
                   #fromH="ngModel"
                   [ngClass]="{'is-invalid': addEditForm.submitted && fromH.invalid}"
            >
          </div>

          <div class="form-group">
            <label for="toH">To, hour</label>
            <input type="number"
                   class="form-control"
                   id="toH"
                   name="toH"
                   placeholder="End hour of period"
                   required
                   min="0"
                   max="23"
                   aria-invalid="true"
                   [(ngModel)]="model.toH"
                   #toH="ngModel"
                   [ngClass]="{'is-invalid': addEditForm.submitted && toH.invalid}"
            >
          </div>


          <button type="submit" class="btn btn-primary btn-block" >
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  *ngIf="submitted"></span>
            <span *ngIf="!itemId">Create</span>
            <span *ngIf="itemId">Save</span>
          </button>

          <button type="button" class="mt-5 btn btn-danger btn-block"
                  (click)="reset()"
                  [disabled]="reseting"
          >
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  *ngIf="reseting"></span>
            Reset <i class="fas fa-trash"></i>
          </button>

          <button type="button" class="mt-5 btn btn-warning btn-block"
                  (click)="cancel()"
          >
            Cancel <i class="fas fa-close"></i>
          </button>
        </fieldset>
      </form>
    </div>
  </div>